.table {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
  color: #e4e4e4;
  margin-top: 20px;

  th,
  td {
    width: 25%;
    min-width: 50px;
    padding: 20px 10px;
    text-align: start;
    border: 1px solid #e4e4e4;
  }

  .table__top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table__item {
    &:hover {
      background-color: #ffffff;
      cursor: pointer;
      color: black;
    }
  }
}
